*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.products{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 60px; 
    justify-items: start;
    align-items: start;
    width: 80%;
    margin: 610px 240px;
}

.products .items{
    width: 220px;
    height: 250px;
    object-fit: cover;
    transition: 0.3s;
}

.products .items:hover{
    transform: scale(1.05);
}

body{
  height: 210vh;
  background-color: rgb(247, 247, 191);
  overflow-x: hidden;
}

li{
  list-style: none;
}

.logo-div{
  font-size: 14px;
  margin: 20px 30px;
}

.logo{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.home{
  position: absolute;
  top: 25px;
  left: 40%;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.shop{
  position: absolute;
  top: 25px;
  left: 43%;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.about{
  position: absolute;
  top: 25px;
  left: 47%;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.our{
  position: absolute;
  top: 25px;
  left: 50%;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.contact{
  position: absolute;
  top: 25px;
  left: 56%;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.log{
  text-decoration: none;
  color: black;
  position: absolute;
  right: 100px;
  top: 25px;
  font-size: 13px;
}

.cart{
  text-decoration: none;
  color: black;
  position: absolute;
  right: 40px;
  top: 25px;
  font-size: 13px;
}

/* ----------------------------------header-------------------------------------- */

.burger-cont{
        display: none;

        .burger-menu{
            width: 40px;
            height: 40px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid black;
            position: relative;
            right: -130px;
            top: 5px;


            .burger-line{
                width: 100%;
                height: 2px;
                background-color: black;
            }
        }

        .burger-nav{
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 100vh;
            background-color: beige;
            display: grid;
            place-items: center;
            overflow: hidden;
            color: black;
            transition: width 0.5s;
            z-index: 9999;

            ul{
               display: flex;
               gap: 50px;  
               flex-direction: column;             
            }

            .close-btn{
                position: absolute;
                top: 5px;
                right: 50px;
                display: grid;
                place-items: center;
                padding: 20px;
                border: 1px solid black;
                width: 45px;
                height: 45px;


                span{
                  font-size: 25px;
                  position: relative;
                  left: -5px;
                  bottom: 13px;
                }
            }
        }
    }

    /* ----------------------burger------------------------------------------ */


    .home2{
        position: absolute;
        top: 80px;
        left: 20px;
        font-size: 20px;
        color: rgba(5, 5, 66, 0.852);
        text-decoration: none;
    }

    .all-products{
        position: absolute;
        top: 80px;
        left: 100px;
        font-size: 20px;
        color: rgb(5, 5, 66, 0.852);
    }

    .greater{
        position: absolute;
        top: 81px;
        left: 80px;
        font-size: 20px;
    }

    .Browse-by{
        position: absolute;
        top: 150px;
        font-size: 20px;
        left: 20px;
        width: 100%;
        color: rgb(5, 5, 66, 0.852);
    }

    .browse{
        border-bottom: 1px solid rgba(128, 128, 128, 0.499);
        position: absolute;
        width: 200px;
        top: 200px;
        left: 20px;
    }

    .all-products2{
        color: rgb(119, 108, 108);
        position: absolute;
        top: 230px;
        left: 20px;
        font-size: 20px;
    }

    .Pet-Food{
        position: absolute;
        top: 280px;
        font-size: 18px;
        left: 20px;
        color: rgb(5, 5, 66, 0.852);
        text-decoration: none;
    }

    .Pet-Food:hover{
      border-bottom: 1px solid rgba(5, 5, 66, 0.852);
    }

    .pet-supplies{
        position: absolute;
        top: 310px;
        font-size: 18px;
        left: 20px;
        text-decoration: none;
        color: rgb(5, 5, 66, 0.852);
    }

    .pet-supplies:hover{
      border-bottom: 1px solid rgba(5, 5, 66, 0.852);
    }

    .pet-toys{
        position: absolute;
        top: 340px;
        font-size: 18px;
        left: 20px;
        color: rgb(5, 5, 66, 0.852);
        text-decoration: none;
    }

    .pet-toys:hover{
      border-bottom: 1px solid rgba(5, 5, 66, 0.852);
    }

    .products3{
        display: flex;
        position: absolute;
        top: 450px;
        font-size: 19px;
        left: 20px;
    }

    .filter{
      font-size: 20px;
      position: absolute;
      top: 400px;
      left: 20px;
      color: rgb(5, 5, 66, 0.852);
    }

    .filters-line{
      width: 212px;
      height: 1px;
      background-color: rgb(128, 128, 128, 0.499);
      position: absolute;
      top: 450px;
    }

    .product-nav{
      position: relative;
      z-index: 999;
      top: -1300px;
      font-size: 18px;
      color: rgba(5, 5, 66, 0.852);
      left: 20px;
    }


    #product-nav2 {
    display: none;
    }

    .product-nav2 {
      position: relative;
      left: 20px;
      top: -1300px;
      display: flex;
    }

    .plus{
      position: relative;
      left: 60px;
      font-size: 25px;
      cursor: pointer;
    }

    .x{
      color: rgba(5, 5, 66, 0.852);
      font-size: 18px;
    }



    .filter-form1{
      position: absolute;
      top: 520px;
      left: 20px;
      width: 100%;
      color: rgb(5, 5, 66, 0.852);
      font-weight: 600;
    } 

    .filter1{
      font-size: 17px;
      color: rgb(5, 5, 66, 0.852);
      position: relative;
      top: 20px;
    }

    .filter-form2{
      position: absolute;
      top: 550px;
      width: 100%;
      left: 20px;
      font-weight: 600;
    }

    .filter2{
      font-size: 17px;
      color: rgb(5, 5, 66, 0.852);
      position: relative;
      top: 20px;
    }

    .filter-form3{
      position: absolute;
      top: 580px;
      left: 20px;
    }

    .filter3{
      color: rgb(5, 5, 66, 0.852);
      position: relative;
      top: 20px;
    }

    .pet-toy{
      font-weight: 600;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    .product-line{
      width: 210px;
      height: 1px;
      background-color: rgb(128, 128, 128, 0.499);
      position: absolute;
      top: 630px;
    }

    .img5{
      position: absolute;
      top: 180px;
      left: 250px;
    }

    .all-products3{
    font-size: 25px;
    color: rgb(5, 5, 66, 0.852);
    position: absolute;
    top: 500px;
    left: 250px;
    }

    .text{
      position: absolute;
      top: 550px;
      width: 35%;
      left: 250px;
      color: rgb(5, 5, 66, 0.852);
    }

    .nine-prod{
      position: absolute;
      font-size: 13px;
      top: 620px;
      left: 250px;
      color: rgb(5, 5, 66, 0.852);
    }

    .puppy-food{
      position: absolute;
      top: 910px;
      left: 240px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price1{
      position: absolute;
      top: 930px;
      left: 240px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .rubber-ball{
      position: absolute;
      top: 910px;
      left: 520px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price2{
      position: absolute;
      top: 930px;
      left: 520px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .chicken-dog-food{
      position: absolute;
      top: 910px;
      left: 800px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price3{
      position: absolute;
      top: 930px;
      left: 800px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .plush-toy{
      position: absolute;
      top: 910px;
      left: 1080px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price4{
      position: absolute;
      top: 930px;
      left: 1080px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .pet-collar{
      position: absolute;
      top: 910px;
      left: 1360px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price5{
      position: absolute;
      top: 930px;
      left: 1360px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .cat-food{
      position: absolute;
      top: 910px;
      left: 1640px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price6{
      position: absolute;
      top: 930px;
      left: 1640px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .dog-leash{
      position: absolute;
      top: 1230px;
      left: 240px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price7{
      position: absolute;
      top: 1250px;
      left: 240px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .pet-bed{
      position: absolute;
      top: 1230px;
      left: 520px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price8{
      position: absolute;
      top: 1250px;
      left: 520px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .Interactive-Toy{
      position: absolute;
      top: 1230px;
      left: 800px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price9{
      position: absolute;
      top: 1250px;
      left: 800px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .ns {
  position: absolute;
  bottom: -950px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  left: 700px;
}

.ns a{
  text-decoration: none;
  color: #f39c12;
  z-index: 999;
}

.ns a:hover{
  scale: 1.05;
}


.phone{
  position: absolute;
  bottom: -850px;
  font-size: 17px;
  color: #f39c12;
  left: 350px;
  z-index: 999;
}

.email:hover{
  scale: 1.05;
  cursor: pointer;
}


.email{
  position: absolute;
  bottom: -870px;
  font-size: 17px;
  color: #f39c12;
  left: 350px;
  z-index: 999;
}

.street{
  position: absolute;
  bottom: -940px;
  font-size: 17px;
  color: #f39c12;
  left: 350px;
  width: 10%;
  z-index: 999;
}

.logo2{
  position: absolute;
  bottom: -900px;
  font-size: 30px;
  color: #f39c12;
  left: 50px;
  z-index: 999;
}

.logo2:hover{
  scale: 1.05;
  cursor: pointer;
}

.color{
  width: 1000px;
  height: 500px;
  background-color: #1f2a44;
  z-index: 990;
  position: absolute;
  bottom: -1100px;
}



.contact-log {
  max-width: 900px;
  position: absolute;
  top: 1560px;
  right: 60px;
}

.contact-log h2{
  position: absolute;
  bottom: 470px;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.row {
  display: flex;
  gap: 60px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 8px;
}

input,
textarea {
  border: none;
  border-bottom: 2px solid red;
  background: transparent;
  padding: 8px 0;
  font-size: 16px;
  outline: none;
}

textarea {
  resize: none;
  height: 80px;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 6px;
}

.full {
  width: 100%;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

button {
  margin-top: 30px;
  width: 100%;
  height: 55px;
  border: none;
  background: #1f2a44;
  color: #eaffb0;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: black;
}



.all-prod{
  position: relative;
  bottom: 50px;
}

.prod-line{
      width: 212px;
      height: 1px;
      background-color: rgb(128, 128, 128, 0.499);
      position: relative;
      bottom: 1320px;
}


@media screen and (max-width: 767px) {
  header .burger-cont {
    display: block;
    position: absolute;
    top: -30px;
    left: -90px;
  }

  .burger-nav{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-130%);
  }



  header .main-nav {
    display: none;
  }


  .logo{
    font-size: 20px;
    position: absolute;
    left: -870px;
    top: -20px;
  }

  .home{
    position: absolute;
    left: 230px;
    z-index: 999;
  }

  .shop{
    position: absolute;
    left: 290px;
    z-index: 999;
  }

  .about{
    position: absolute;
    left: 365px;
    z-index: 999;
  }

  .our{
    position: absolute;
    left: 420px;
    z-index: 999;
  }

  .contact{
    position: absolute;
    left: 520px;
    z-index: 999;
  }


  .burger-menu{
    margin: 0px -240px;
  }


  .img2{
    position: absolute;
    right: 0px;
    width: 50%;
    height: 700px;
  }

  .img1{
    width: 50%;
    height: 700px;
  }

   header{
    position: absolute;
    right: 0px;
    margin: 0px -195px;
  }

  .carousel{
    position: absolute;
    top: 760px;
    left: 00px;
    width: 765px;
    overflow: hidden;
  }

  .anim{
    margin: 0px -75px;
    width: 300px;
    height: 300px;
  }

  .anim h4{
    position: absolute;
    margin: -30px -10px;
    width: 70%;
  }

  .shop-now{
    margin: 0px -20px;
  }  

  .offer{
    position: absolute;
    top: 900px;
    left: 110px;
    font-size: 35px;
  }

  .sale{
    position: absolute;
    top: 960px;
    left: 135px;
  }

  .deal{
    position: absolute;
    top: 1000px;
    left: 135px;
  }

  .textt{
    position: absolute;
    top: 818px;
    right: 0px;
    width: 50%;
  }

  .inner-text{
    width: 55%;
    position: absolute;
    top: 150px;
    left: 120px;
    font-size: 20px;
  }

  .img3{
    position: absolute;
    top: 1390px;
    width: 50%;
    height: 50vh;
  }
  .img4{
    position: absolute;
    top: 1390px;
    width: 50%;
    height: 50vh;
  }

  .why{
    margin: -700px -30px;
    font-size: 19px;
  }

  .textwhy{
    margin: -650px -60px;
    font-size: 20px;
    max-width: 500px;
  }

  .color{
    margin: 650px 0px;
    width: 100%;
  }

  .logo2{
    margin: 650px 40px;
  }

  .phone{
    margin: 650px 150px;
  }

  .email{
    margin: 650px 150px;
  }

  .street{
    margin: 650px 150px;
    width: 24%;
  }

  .ns{
    margin: 650px 270px;
    width: 100%;
  }

  .contact-log{
    margin: -70px 50px;
  }

.burger-nav {
  margin: 0px 200px;
}

.home2{
  font-size: 15px;
  position: absolute;
  top: 80px; 
}

.all-products{
  font-size: 15px;
}

.greater{
  font-size: 15px;
  position: absolute;
  top: 80px;
  left: 77px;
}

.Browse-by{
  font-size: 15px;
}

.browse{
  position: absolute;
  top: 185px;
  width: 150px;
}

.all-products2{
  font-size: 17px;
  position: absolute;
  top: 210px;
}

.Pet-Food{
  font-size: 15px;
  position: absolute;
  top: 250px;
}

.pet-supplies{
  font-size: 15px;
  position: absolute;
  top: 280px;
}

.pet-toys{
  font-size: 15px;
  position: absolute;
  top: 310px;
}

.filter{
  font-size: 17px;
  position: absolute;
  top: 370px;
}

.filters-line{
  position: absolute;
  top: 400px;
  width: 150px;
  left: 20px;
}


.img5{
  width: 69vh;
  position: absolute;
  top: 183px;
  height: 12vh;
  left: 190px;
}

.all-products3{
  position: absolute;
  top: 310px;
  font-size: 20px;
  left: 190px;
}

.text{
  position: absolute;
  top: 350px;
  width: 60%;
  left: 190px;
}

.nine-prod{
  position: absolute;
  top: 440px;
  left: 190px;
}

.products{
  position: relative;
  top: 440px;
  left: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 60px;
  width: 70%;
  margin: 40px auto;
}

.products .items{
  width: 110%;
  height: 120%;
  flex-wrap: wrap;
}

.puppy-food{
  position: absolute;
  top: 580px;
  font-size: 10px;
  left: 185px;
}

.price1{
  position: absolute;
  top: 480px;
  left: 190px;
  font-size: 11px;
  border-bottom: 1px solid rgba(5, 5, 66, 0.852);
}

.rubber-ball{
  position: absolute;
  top: 580px;
  font-size: 10px;
  left: 335px;
}

.price2{
  position: absolute;
  top: 480px;
  left: 335px;
  font-size: 11px;
  border-bottom: 1px solid rgba(5, 5, 66, 0.852);
}

.chicken-dog-food{
  position: absolute;
  top: 580px;
  left: 480px;
  font-size: 10px;
}

.price3{
  position: absolute;
  top: 480px;
  left: 480px;
  font-size: 11px;
  border-bottom: 1px solid rgba(5, 5, 66, 0.852);
}

.plush-toy{
  position: absolute;
  top: 580px;
  left: 635px;
  font-size: 10px;
}

.price4{
  position: absolute;
  top: 480px;
  left: 635px;
  font-size: 11px;
  border-bottom: 1px solid rgba(5, 5, 66, 0.852);
}

.pet-collar{
  position: absolute;
  top: 740px;
  left: 185px;
  font-size: 10px;
}

.price5{
  position: absolute;
  top: 645px;
  left: 190px;
  font-size: 11px;
  border-bottom: 1px solid rgba(5, 5, 66, 0.852);
}

.cat-food{
  position: absolute;
  top: 740px;
  left: 335px;
  font-size: 10px;
}

.price6{
  position: absolute;
  top: 645px;
  left: 335px;
  font-size: 11px;
  border-bottom: 1px solid rgba(5, 5, 66, 0.852);
}

.dog-leash{
  position: absolute;
  top: 740px;
  left: 480px;
  font-size: 10px;
}

.price7{
  position: absolute;
  top: 644px;
  left: 480px;
  font-size: 11px;
  border-bottom: 1px solid rgba(5, 5, 66, 0.852);
}

.pet-bed{
  position: absolute;
  top: 740px;
  font-size: 10px;
  left: 635px;
}

.price8{
  position: absolute;
  top: 644px;
  font-size: 11px;
  left: 635px;
  border-bottom: 1px solid rgba(5, 5, 66, 0.852);
}

.Interactive-Toy{
  position: absolute;
  top: 900px;
  left: 190px;
  font-size: 10px;
}

.price9{
  position: absolute;
  top: 800px;
  left: 190px;
  font-size: 11px;
  border-bottom: 1px solid rgba(5, 5, 66, 0.852);
}

.color{
  width: 100vh;
  position: absolute;
  top: 370px;
  height: 40%;
}

.logo2{
  font-size: 25px;
  position: absolute;
  top: 520px;
  left: 10px;
}

.phone{
  position: absolute;
  left: 120px;
  top: 480px;
}

.email{
  position: absolute;
  left: 120px;
  top: 500px;
}

.street{
  position: absolute;
  left: 120px;
  top: 550px;
}

.ns{
  position: absolute;
  top: 470px;
  left: 260px;
}

.product-nav{
  position: absolute;
  top: 0px;
  margin: 0px 180px;
  font-size: 15px;
}

.product-nav2{
  position: absolute;
  top: 20px;
  margin: 0px 180px;
}










}