*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.products{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 50px; 
    justify-items: start;
    align-items: start;
    width: 85%;
    margin: 610px 240px;
}

.products .items{
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.products .items:hover{
    transform: scale(1.05);
}

body{
  height: 370vh;
  background-color: beige;
}

li{
  list-style: none;
}

.logo-div{
  font-size: 14px;
  margin: 20px 30px;
}

.logo{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.home{
  position: absolute;
  top: 25px;
  left: 40%;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.shop{
  position: absolute;
  top: 25px;
  left: 43%;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.about{
  position: absolute;
  top: 25px;
  left: 47%;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.our{
  position: absolute;
  top: 25px;
  left: 50%;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.contact{
  position: absolute;
  top: 25px;
  left: 56.5%;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.log{
  text-decoration: none;
  color: black;
  position: absolute;
  right: 100px;
  top: 25px;
  font-size: 13px;
}

.cart{
  text-decoration: none;
  color: black;
  position: absolute;
  right: 40px;
  top: 25px;
  font-size: 13px;
}

.burger-cont{
        display: none;

        .burger-menu{
            width: 60px;
            height: 60px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid black;


            .burger-line{
                width: 100%;
                height: 2px;
                background-color: black;
            }
        }

        .burger-nav{
            position: absolute;
            top: 0px;
            right: 0px;
            width: 0px;
            height: 100vh;
            background-color: beige;
            display: grid;
            place-items: center;
            overflow: hidden;
            color: black;
            transition: width 0.5s;

            ul{
               display: flex;
               gap: 50px;  
               flex-direction: column;             
            }

            .close-btn{
                position: absolute;
                top: 60px;
                right: 60px;
                display: grid;
                place-items: center;
                padding: 20px;
                border: 1px solid black;

                span{
                    font-size: 25px;
                }
            }
        }
    }


    .home2{
        position: absolute;
        top: 80px;
        left: 20px;
        font-size: 20px;
        color: rgba(5, 5, 66, 0.852);
        text-decoration: none;
    }

    .all-products{
        position: absolute;
        top: 80px;
        left: 100px;
        font-size: 20px;
        color: rgb(5, 5, 66, 0.852);
    }

    .greater{
        position: absolute;
        top: 81px;
        left: 80px;
        font-size: 20px;
    }

    .Browse-by{
        position: absolute;
        top: 150px;
        font-size: 20px;
        left: 20px;
        width: 100%;
    }

    .browse{
        border-bottom: 1px solid rgba(128, 128, 128, 0.499);
        position: absolute;
        width: 200px;
        top: 200px;
        left: 20px;
    }

    .all-products2{
        color: rgb(119, 108, 108);
        position: absolute;
        top: 230px;
        left: 20px;
        font-size: 20px;
    }

    .Pet-Food{
        position: absolute;
        top: 280px;
        font-size: 18px;
        left: 20px;
        color: rgb(5, 5, 66, 0.852);
        text-decoration: none;
    }

    .pet-supplies{
        position: absolute;
        top: 310px;
        font-size: 18px;
        left: 20px;
        text-decoration: none;
        color: rgb(5, 5, 66, 0.852);
    }

    .pet-toys{
        position: absolute;
        top: 340px;
        font-size: 18px;
        left: 20px;
        color: rgb(5, 5, 66, 0.852);
        text-decoration: none;
    }

    .products3{
        display: flex;
        position: absolute;
        top: 450px;
        font-size: 19px;
        left: 20px;
    }

    .filters{
        
    }




