*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.products{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 60px; 
    justify-items: start;
    align-items: start;
    width: 80%;
    margin: 610px 240px;
}

.products .items{
    width: 220px;
    height: 250px;
    object-fit: cover;
    transition: 0.3s;
}

.products .items:hover{
    transform: scale(1.05);
}

body{
  height: 210vh;
  background-color: rgb(247, 247, 191);
  overflow-x: hidden;
}

li{
  list-style: none;
}

.logo-div{
  font-size: 14px;
  margin: 20px 30px;
}

.logo{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.home{
  position: absolute;
  top: 25px;
  left: 40%;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.shop{
  position: absolute;
  top: 25px;
  left: 43%;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.about{
  position: absolute;
  top: 25px;
  left: 47%;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.our{
  position: absolute;
  top: 25px;
  left: 50%;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.contact{
  position: absolute;
  top: 25px;
  left: 56.5%;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.log{
  text-decoration: none;
  color: black;
  position: absolute;
  right: 100px;
  top: 25px;
  font-size: 13px;
}

.cart{
  text-decoration: none;
  color: black;
  position: absolute;
  right: 40px;
  top: 25px;
  font-size: 13px;
}

/* ----------------------------------header-------------------------------------- */

.burger-cont{
        display: none;

        .burger-menu{
            width: 60px;
            height: 60px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid black;


            .burger-line{
                width: 100%;
                height: 2px;
                background-color: black;
            }
        }

        .burger-nav{
            position: absolute;
            top: 0px;
            right: 0px;
            width: 0px;
            height: 100vh;
            background-color: beige;
            display: grid;
            place-items: center;
            overflow: hidden;
            color: black;
            transition: width 0.5s;

            ul{
               display: flex;
               gap: 50px;  
               flex-direction: column;             
            }

            .close-btn{
                position: absolute;
                top: 60px;
                right: 60px;
                display: grid;
                place-items: center;
                padding: 20px;
                border: 1px solid black;

                span{
                    font-size: 25px;
                }
            }
        }
    }

    /* ----------------------burger------------------------------------------ */


    .home2{
        position: absolute;
        top: 80px;
        left: 20px;
        font-size: 20px;
        color: rgba(5, 5, 66, 0.852);
        text-decoration: none;
    }

    .all-products{
        position: absolute;
        top: 80px;
        left: 100px;
        font-size: 20px;
        color: rgb(5, 5, 66, 0.852);
    }

    .greater{
        position: absolute;
        top: 81px;
        left: 80px;
        font-size: 20px;
    }

    .Browse-by{
        position: absolute;
        top: 150px;
        font-size: 20px;
        left: 20px;
        width: 100%;
        color: rgb(5, 5, 66, 0.852);
    }

    .browse{
        border-bottom: 1px solid rgba(128, 128, 128, 0.499);
        position: absolute;
        width: 200px;
        top: 200px;
        left: 20px;
    }

    .all-products2{
        color: rgb(119, 108, 108);
        position: absolute;
        top: 230px;
        left: 20px;
        font-size: 20px;
    }

    .Pet-Food{
        position: absolute;
        top: 280px;
        font-size: 18px;
        left: 20px;
        color: rgb(5, 5, 66, 0.852);
        text-decoration: none;
    }

    .Pet-Food:hover{
      border-bottom: 1px solid rgba(5, 5, 66, 0.852);
    }

    .pet-supplies{
        position: absolute;
        top: 310px;
        font-size: 18px;
        left: 20px;
        text-decoration: none;
        color: rgb(5, 5, 66, 0.852);
    }

    .pet-supplies:hover{
      border-bottom: 1px solid rgba(5, 5, 66, 0.852);
    }

    .pet-toys{
        position: absolute;
        top: 340px;
        font-size: 18px;
        left: 20px;
        color: rgb(5, 5, 66, 0.852);
        text-decoration: none;
    }

    .pet-toys:hover{
      border-bottom: 1px solid rgba(5, 5, 66, 0.852);
    }

    .products3{
        display: flex;
        position: absolute;
        top: 450px;
        font-size: 19px;
        left: 20px;
    }

    .filter{
      font-size: 20px;
      position: absolute;
      top: 400px;
      left: 20px;
      color: rgb(5, 5, 66, 0.852);
    }

    .filters-line{
      width: 212px;
      height: 1px;
      background-color: rgb(128, 128, 128, 0.499);
      position: absolute;
      top: 450px;
    }

    .product-type{
      font-size: 19px;
      color: rgb(5, 5, 66, 0.852);
      position: absolute;
      top: 480px;
      left: 20px;
    }

    .filter-form1{
      position: absolute;
      top: 520px;
      left: 20px;
      width: 100%;
      color: rgb(5, 5, 66, 0.852);
      font-weight: 600;
    }

    .filter1{
      font-size: 17px;
      color: rgb(5, 5, 66, 0.852);
    }

    .filter-form2{
      position: absolute;
      top: 550px;
      width: 100%;
      left: 20px;
      font-weight: 600;
    }

    .filter2{
      font-size: 17px;
      color: rgb(5, 5, 66, 0.852);
      left: 20px;
    }

    .filter-form3{
      position: absolute;
      top: 580px;
      left: 20px;
    }

    .filter3{
      color: rgb(5, 5, 66, 0.852);
    }

    .pet-toy{
      font-weight: 600;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    .product-line{
      width: 210px;
      height: 1px;
      background-color: rgb(128, 128, 128, 0.499);
      position: absolute;
      top: 630px;
    }

    .img5{
      position: absolute;
      top: 180px;
      left: 250px;
    }

    .all-products3{
    font-size: 25px;
    color: rgb(5, 5, 66, 0.852);
    position: absolute;
    top: 500px;
    left: 250px;
    }

    .text{
      position: absolute;
      top: 550px;
      width: 35%;
      left: 250px;
      color: rgb(5, 5, 66, 0.852);
    }

    .nine-prod{
      position: absolute;
      font-size: 13px;
      top: 620px;
      left: 250px;
      color: rgb(5, 5, 66, 0.852);
    }

    .puppy-food{
      position: absolute;
      top: 910px;
      left: 240px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price1{
      position: absolute;
      top: 930px;
      left: 240px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .rubber-ball{
      position: absolute;
      top: 910px;
      left: 520px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price2{
      position: absolute;
      top: 930px;
      left: 520px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .chicken-dog-food{
      position: absolute;
      top: 910px;
      left: 800px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price3{
      position: absolute;
      top: 930px;
      left: 800px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .plush-toy{
      position: absolute;
      top: 910px;
      left: 1080px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price4{
      position: absolute;
      top: 930px;
      left: 1080px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .pet-collar{
      position: absolute;
      top: 910px;
      left: 1360px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price5{
      position: absolute;
      top: 930px;
      left: 1360px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .cat-food{
      position: absolute;
      top: 910px;
      left: 1640px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price6{
      position: absolute;
      top: 930px;
      left: 1640px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .dog-leash{
      position: absolute;
      top: 1230px;
      left: 240px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price7{
      position: absolute;
      top: 1250px;
      left: 240px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .pet-bed{
      position: absolute;
      top: 1230px;
      left: 520px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price8{
      position: absolute;
      top: 1250px;
      left: 520px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .Interactive-Toy{
      position: absolute;
      top: 1230px;
      left: 800px;
      font-size: 15px;
      color: rgba(5, 5, 66, 0.852);
      cursor: pointer;
    }

    .price9{
      position: absolute;
      top: 1250px;
      left: 800px;
      color: rgba(5, 5, 66, 0.852) ;
      cursor: pointer;
    }

    .ns {
  position: absolute;
  bottom: -950px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  left: 700px;
}

.ns a{
  text-decoration: none;
  color: #f39c12;
  z-index: 999;
}

.ns a:hover{
  scale: 1.05;
}


.phone{
  position: absolute;
  bottom: -850px;
  font-size: 17px;
  color: #f39c12;
  left: 350px;
  z-index: 999;
}

.email:hover{
  scale: 1.05;
  cursor: pointer;
}


.email{
  position: absolute;
  bottom: -870px;
  font-size: 17px;
  color: #f39c12;
  left: 350px;
  z-index: 999;
}

.street{
  position: absolute;
  bottom: -940px;
  font-size: 17px;
  color: #f39c12;
  left: 350px;
  width: 10%;
  z-index: 999;
}

.logo2{
  position: absolute;
  bottom: -900px;
  font-size: 30px;
  color: #f39c12;
  left: 50px;
  z-index: 999;
}

.logo2:hover{
  scale: 1.05;
  cursor: pointer;
}

.color{
  width: 1000px;
  height: 500px;
  background-color: #1f2a44;
  z-index: 990;
  position: absolute;
  bottom: -1100px;
}



.contact-log {
  max-width: 900px;
  position: absolute;
  top: 1560px;
  right: 60px;
}

.contact-log h2{
  position: absolute;
  bottom: 470px;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.row {
  display: flex;
  gap: 60px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 8px;
}

input,
textarea {
  border: none;
  border-bottom: 2px solid red;
  background: transparent;
  padding: 8px 0;
  font-size: 16px;
  outline: none;
}

textarea {
  resize: none;
  height: 80px;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 6px;
}

.full {
  width: 100%;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

button {
  margin-top: 30px;
  width: 100%;
  height: 55px;
  border: none;
  background: #1f2a44;
  color: #eaffb0;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: black;
}





