*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    background-color: beige;
    align-items: center;


    .main-nav ul{
        display: flex;
        gap: 50px;
    }

    .burger-cont{
        display: none;

        .burger-menu{
            width: 60px;
            height: 60px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid black;


            .burger-line{
                width: 100%;
                height: 2px;
                background-color: black;
            }
        }

        .burger-nav{
            position: absolute;
            top: 0px;
            right: 0px;
            width: 0px;
            height: 100vh;
            background-color: beige;
            display: grid;
            place-items: center;
            overflow: hidden;
            color: black;
            transition: width 0.5s;

            ul{
               display: flex;
               gap: 50px;  
               flex-direction: column;             
            }

            .close-btn{
                position: absolute;
                top: 60px;
                right: 60px;
                display: grid;
                place-items: center;
                padding: 20px;
                border: 1px solid black;

                span{
                    font-size: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    header .burger-cont{
        display: block;
    }

    header .main-nav{
        display: none;
    }
}